body {
	width: 1500px;
	font-family: sans-serif;
	padding: 0 1.5em;
	background-color: whitesmoke;
	background-repeat: no-repeat;
	background-position-x: 750px;
}
h3 {
	font-size: 1.4em;
	margin-top: 2.1em;
	margin-bottom: 0.5em;
}
label {
	font-size: 1.2em;
}
:focus {
	outline: none;
}
input[type="text"] {
	height: 3.15em;
	width: 13em;
	background-position: right center;
	background-size: 1.5em;
	background-repeat: no-repeat;
	border-radius: 0.4em;
	padding: 0 1.5em;
}
input[type="text"]:valid {
	border: 2px solid #42ae4a;
	padding-right: .6em;
	background-origin: content-box;
}
input[type="text"]:invalid {
	border: 2px solid #e74c6c;
	padding-right: .6em;
	background-origin: content-box;
}
input[type="checkbox"] {
	appearance: none;
	height: 26px;
	width: 48px;
	border: 2px solid #e44160;
	border-radius: 6px;
}
input[type="checkbox"]::before {
	content: '';
	display: block;
	height: 20px;
	width: 24px;
	margin: 1px 18px;
	background-color: #e44160;
	border-radius: 6px;
}
input[type="checkbox"]:hover {
	border: 2px solid #42ad4a;
}
input[type="checkbox"]:checked {
	padding: 1px 2px;
	border: 2px solid #42ad4a;
	border-radius: 6px;
}
input[type="checkbox"]:checked:hover {
	border: 2px solid #e44160;
	border-radius: 6px;
}
input[type="checkbox"]:checked::before {
	margin: 0;
	background-color: #42ad4a;
}
input[type="radio"] {
	appearance: none;
	height: 2em;
	width: 2em;
	padding: 2px;
	border: 3px solid #42ad4a;
	border-radius: 50%;
	;
}
input[type="radio"]:checked {
	background-color: #42ad4a;
	background-clip: content-box;
}
button {
	height: 3em;
	width: 7em;
	border: 0;
	border-radius: .5em;
	background-color: #42ad4a;
	color: white;
	font-size: medium;
}
button:hover {
	background-color: #2c7731;
}
button.danger {
	background-color: #e44160
}
button.hover {
	background-color: #56111e
}
button.danger:hover {
	background-color: #97293f
}
button:disabled {
	background-color: #818081;
}
button.circle {
	width: 3em;
	border-radius: 50%;
}
textarea {
	height: 10em;
	width: 40em;
}