#blue {
	color: blue;
}
.violet1 {
	color: rosybrown;
}
.violet2 {
	color: royalblue;
}
.violet {
	color: black;
}
.violet3 {
	color: blue;
}
.violet4 {
	color: royalblue;
}
.violet5 {
	color: blue;
}
.violet6 {
	color: black;
}
.violet7 {
	color: blue;
}
